// Hoja de estilos para "Herramientas de administrador"

.AdminTools

    .menu-content
        display: grid
        grid-template-columns: 10% 90%
        margin-top: 4vh

    .side-menu
        display: flex
        flex-direction: column
    
    .side-menu > a
        margin-bottom: 3vh
        
    #aggdoc
        position: absolute
        left: 350px
        top: 168px

    #agg
        color: #FFFFFF
        padding: 4px
        background: #1979C6
        border-radius: 5px

    .add-search
        display: flex
        flex-direction: row
        margin-top: 15px
        align-items: center

    .add-search > p
        margin-left: 127px
        margin-right: 10px
        
    .add-search > input
        border-radius: 5px
        width: 25vw
        

    table 
        margin-top: 17px
        width: 90%

    td, th 
        text-align: left
        padding: 8px
        
    th
        font-weight: 900
        font-size: $subtitle
        color: #3D3D3D

    .modificar
        color: #FFFFFF
        width: 81px
        height: 27px
        background: #FFB800
        border-radius: 5px

    .eliminar
        color: #FFFFFF        
        width: 81px
        height: 27px
        background: #EB2424
        border-radius: 5px

    .asignar
        color: #FFFFFF
        width: 160px
        height: 27px
        background: #1979C6
        border-radius: 5px

