// Hoja de estilos para "Herramientas de administrador"

.AdminTools

    .menu-content
        display: grid
        grid-template-columns: 10% 90%

    h1
        font-size: $title
    
    .side-menu
        display: flex
        flex-direction: column
        margin-top: 4vh
    
    .side-menu > a
        margin: 1vh
        

    h2
        font-size: 1.25rem
        margin-top: 4vh
        

    #aggdoc
        position: absolute
        left: 350px
        top: 168px

    #agg
        display: flex
        color: #FFFFFF
        text-decoration: none
        justify-content: center
        align-items: center
        font-family: 'Rosario'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        position: absolute
        width: 129px
        height: 27px
        left: 245px
        top: 218px
        background: #1979C6
        border-radius: 5px

    #buscar
        position: absolute
        width: 52px
        height: 19px
        left: 501px
        top: 223px
        font-family: 'Rosario'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        color: #3D3D3D

    #write
        box-sizing: border-box
        position: absolute
        width: 373px
        height: 29px
        left: 563px
        top: 218px
        background: #FFFFFF
        border: 1px solid #494949
        border-radius: 5px
        padding: 3px


    table 
        position: absolute
        left: 243px
        top: 262px
        border-collapse: collapse
        width: 75%

    td, th 
        text-align: left
        padding: 8px
        
    th
        font-family: 'Rosario'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 24px
        color: #3D3D3D

    td
        font-family: 'Rosario'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        color: #3D3D3D

    .modificar
        color: #FFFFFF
        text-decoration: none
        justify-content: center
        align-items: center
        width: 81px
        height: 27px
        background: #FFB800
        border-radius: 5px

    .eliminar
        color: #FFFFFF
        text-decoration: none
        justify-content: center
        align-items: center
        width: 81px
        height: 27px
        background: #EB2424
        border-radius: 5px

