// Hoja de estilos para "Ver mis solicitudes"
.MyReservations
    .body-style
        display: flex
        flex-direction: column

    .Titulo
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 14px

    .Titulo > h1
        font-size: $title

    .Titulo > button
        background: $pink
        color: white
        width: 126px
        height: 41px
        border-radius: 3px
        border: none

    .Lab_Options > h3
        margin-bottom: 10px

    .Lab_Status
        display: flex
        flex-direction: row
        margin-bottom: 20px

    .search-style
        display: inherit
        flex-direction: row
        align-items: center
        margin-bottom: 1rem

    .search-style > p
        margin-right: 1vw
        margin-left: 2vw  

    .search-style > input
        border-radius: 5px
        width: 373px
        height: 29px