* {
  padding: 0;
  margin: 0;
  font-family: "Rosario", sans-serif;
  font-size: 1rem;
  color: #3D3D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  min-height: 100vh;
}

.MainComponent {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-top: 79px;
  padding: 30px 70px 30px 70px;
}

.calendarContainer .fc-icon {
  color: white;
}

.calendarContainer .fc-col-header {
  background-color: #2C3E50;
  border-radius: 10px 10px 0 0;
}

.calendarContainer .fc-col-header-cell-cushion {
  color: white;
}

.calendarContainer .fc-theme-standard .fc-scrollgrid {
  border-radius: 11px 11px 0 0;
}

.calendarContainer .fc-event-title {
  color: white;
}

footer {
  background-color: #323232;
  width: 100%;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

footer img {
  position: absolute;
  right: 70px;
}

footer p {
  margin: auto;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a u {
  color: white;
}

.navbar {
  background-color: #2C3E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 79px;
  padding: 13px 70px 13px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar img {
  height: 100%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .selected {
  color: #FFF700;
}

.navbar .loginButton {
  color: #FFF700;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFF700;
  padding: 10px;
  border-radius: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.navbar .loginButton:hover {
  -webkit-animation: loginButtonHover 0.3s forwards;
          animation: loginButtonHover 0.3s forwards;
}

.navbar li {
  color: white;
  display: inline-block;
  width: 120px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.navbar li:hover {
  color: #FFF700;
}

@-webkit-keyframes loginButtonHover {
  100% {
    background-color: #FFF700;
    color: #2C3E50;
  }
}

@keyframes loginButtonHover {
  100% {
    background-color: #FFF700;
    color: #2C3E50;
  }
}

.body-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-style > h1 {
  font-size: 1.5rem;
}

.search-style {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.search-style > p {
  margin-right: 1vw;
}

.search-style > input {
  border-radius: 5px;
}

.grid-lista {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

.encabezado-lista {
  margin-bottom: 3vh;
  font-size: 1.25rem;
}

.grid-lista > p {
  margin-bottom: 1.5vh;
}

.body-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.Titulo > h1 {
  font-size: 1.5rem;
}

.Titulo > button {
  background: #DE0069;
  color: white;
  width: 126px;
  height: 41px;
  border-radius: 3px;
  border: none;
}

.Lab_Options > h3 {
  margin-bottom: 10px;
}

.Lab_Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.Lab_Status > button {
  width: 85px;
  height: 25px;
  background: #2C3E50;
  border-radius: 3px;
  border: none;
  color: white;
  margin-left: 23px;
}

.Lab_Status > select {
  width: 199px;
  height: 25px;
  background: #DEDEDE;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.search-style {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-style > p {
  margin-right: 1vw;
  margin-left: 2vw;
}

.search-style > input {
  border-radius: 5px;
  width: 373px;
  height: 29px;
}

.table_Reservaciones {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1226px;
  height: 367px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #2C3E50;
  margin-bottom: 3vw;
  border-collapse: separate;
  border-spacing: 0;
}

.table_Reservaciones > thead {
  width: 1226px;
  height: 120px;
  margin-left: 1vw;
  color: white;
  text-align: left;
  vertical-align: text-top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table_header1 > p {
  color: white;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.table_header1 > button {
  width: 151px;
  height: 31px;
  background: #DE0069;
  color: white;
  border-radius: 3px;
  border: none;
  margin-left: 40px;
}

.table_header2 > strong {
  color: white;
  margin-left: 47px;
  margin-right: 180px;
  margin-top: 20px;
}

.table_header2 > p {
  color: white;
  margin-left: 47px;
  width: 431px;
  height: 57px;
  font-weight: 1;
  line-height: 19px;
  text-align: justify;
}

.table_header3 > ul > li > p {
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.table_Reservaciones > tbody {
  width: 1224px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
}

.table_Reservaciones > tbody:hover {
  background: #DBEFFF;
}

.table_Reservaciones > tbody > td {
  border: none;
}

.buttons {
  text-align: center;
}

.green_button {
  width: 121px;
  height: 30px;
  background: #179D24;
  border-radius: 15px;
  border: none;
  color: white;
}

.red_button {
  width: 121px;
  height: 30px;
  background: #EB2424;
  border-radius: 15px;
  border: none;
  color: white;
}

.cancel_button {
  width: 193px;
  height: 30px;
  background: #EB2424;
  border-radius: 15px;
  border: none;
  color: white;
}

.body-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.Titulo > h1 {
  font-size: 1.5rem;
}

.Titulo > button {
  background: #DE0069;
  color: white;
  width: 126px;
  height: 41px;
  border-radius: 3px;
  border: none;
}

.Lab_Options > h3 {
  margin-bottom: 10px;
}

.Lab_Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.search-style {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-style > p {
  margin-right: 1vw;
  margin-left: 2vw;
}

.search-style > input {
  border-radius: 5px;
  width: 373px;
  height: 29px;
}

.table_Reservaciones {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1226px;
  height: 367px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #2C3E50;
  margin-bottom: 3vw;
  border-collapse: separate;
  border-spacing: 0;
}

.table_Reservaciones > thead {
  width: 1226px;
  height: 120px;
  margin-left: 1vw;
  color: white;
  text-align: left;
  vertical-align: text-top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table_header1 > p {
  color: white;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.table_header1 > button {
  width: 151px;
  height: 31px;
  background: #DE0069;
  color: white;
  border-radius: 3px;
  border: none;
  margin-left: 40px;
}

.table_header2 > strong {
  color: white;
  margin-left: 47px;
  margin-right: 180px;
  margin-top: 20px;
}

.table_header2 > p {
  color: white;
  margin-left: 47px;
  width: 431px;
  height: 57px;
  font-weight: 1;
  line-height: 19px;
  text-align: justify;
}

.table_header3 > ul > li > p {
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.table_Reservaciones > tbody {
  width: 1224px;
  height: 56px;
  background-color: white;
  border: none;
  text-align: center;
}

.table_Reservaciones > tbody:hover {
  background: #DBEFFF;
}

.table_Reservaciones > tbody > td {
  border: none;
}

.buttons {
  text-align: center;
}

.green_button {
  width: 121px;
  height: 30px;
  background: #179D24;
  border-radius: 15px;
  border: none;
  color: white;
}

.red_button {
  width: 121px;
  height: 30px;
  background: #EB2424;
  border-radius: 15px;
  border: none;
  color: white;
}

.cancel_button {
  width: 193px;
  height: 30px;
  background: #EB2424;
  border-radius: 15px;
  border: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */